# This is a list of files to ignore
# ignore solution prefs file
Solution1.v12.suo

# ignore bin and obj directories for now
HelloWorldApp/obj
HelloWorldApp/bin

# HelloWorld.csproj user options file
HelloWorldApp/HelloWorldApp.csproj.user

# New visual studio settings directory
.vs/
